In [1]:
import pandas as pd
from datetime import timedelta
import json as js
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from logreg import *
from mil import *

min_date = datetime(2014, 1, 1)
max_date = datetime(2014, 12, 31)

In [2]:
def create_y(f, date_range):
    df_gsr = pd.DataFrame(columns=('date', 'event', 'city'))
    lines = open(f).readlines()
    for i in range(len(lines)):
        obj = js.loads(lines[i])
        if obj['location'][0] == 'Brazil':
            df_gsr.loc[i] = [pd.to_datetime(obj['eventDate'].split("T")[0], format='%Y-%m-%d') + timedelta(days=-1),
                             1,
                             obj['location'][1]]

    df_gsr_selected = df_gsr[(df_gsr.date >= min_date) & (df_gsr.date <= max_date)]
    df_gsr_selected = df_gsr_selected[df_gsr_selected['city'] != '-']
    df_grouped = df_gsr_selected.groupby(['city', 'date']).agg({'event': lambda x: 1})

    cities = pd.unique(df_gsr_selected.city.ravel())
    new_index = pd.MultiIndex.from_product([cities, date_range], names=['city', 'date'])

    df_final = df_grouped.reindex(new_index, fill_value=0)
    return df_final

In [3]:
file_gsr = "./gsrAll.json"
dates = pd.date_range(min_date, max_date)
y = create_y(file_gsr, dates)

In [4]:
y

                             event
city             date
Rio de Janeiro   2014-01-01      1
                 2014-01-02      1
                 2014-01-03      1
                 2014-01-04      1
                 2014-01-05      1
                 2014-01-06      1
                 2014-01-07      1
                 2014-01-08      1
                 2014-01-09      1
                 2014-01-10      1
                 2014-01-11      1
                 2014-01-12      1
                 2014-01-13      1
                 2014-01-14      1
                 2014-01-15      1
                 2014-01-16      1
                 2014-01-17      1
                 2014-01-18      1
                 2014-01-19      0
                 2014-01-20      1
                 2014-01-21      1
                 2014-01-22      1
                 2014-01-23      1
                 2014-01-24      1
                 2014-01-25      0
                 2014-01-26      0
                 2014-01-27      1
                 2014-01-28      1
                 2014-01-29      1
                 2014-01-30      1
...                            ...
Distrito Federal 2014-12-02      0
                 2014-12-03      0
                 2014-12-04      0
                 2014-12-05      0
                 2014-12-06      0
                 2014-12-07      0
                 2014-12-08      0
                 2014-12-09      0
                 2014-12-10      0
                 2014-12-11      0
                 2014-12-12      0
                 2014-12-13      0
                 2014-12-14      0
                 2014-12-15      0
                 2014-12-16      0
                 2014-12-17      0
                 2014-12-18      0
                 2014-12-19      0
                 2014-12-20      0
                 2014-12-21      0
                 2014-12-22      0
                 2014-12-23      0
                 2014-12-24      0
                 2014-12-25      0
                 2014-12-26      0
                 2014-12-27      0
                 2014-12-28      0
                 2014-12-29      0
                 2014-12-30      0
                 2014-12-31      0

[9855 rows x 1 columns]

In [5]:
f, date_range = file_gsr, dates
df_gsr = pd.DataFrame(columns=('date', 'event', 'city'))
lines = open(f).readlines()
for i in range(len(lines)):
    obj = js.loads(lines[i])
    if obj['location'][0] == 'Brazil':
        df_gsr.loc[i] = [pd.to_datetime(obj['eventDate'].split("T")[0], format='%Y-%m-%d') + timedelta(days=-1),
                         1,
                         obj['location'][1]]

df_gsr_selected = df_gsr[(df_gsr.date >= min_date) & (df_gsr.date <= max_date)]
df_gsr_selected = df_gsr_selected[df_gsr_selected['city'] != '-']
df_grouped = df_gsr_selected.groupby(['city', 'date']).agg({'event': np.sum})

In [6]:
df_grouped

                      event
city      date
Acre      2014-05-26      1
Alagoas   2014-05-14      1
          2014-05-18      1
          2014-05-20      1
          2014-05-26      1
          2014-12-15      1
Amapá     2014-05-26      1
          2014-10-13      1
Amazonas  2014-01-12      1
          2014-01-28      1
          2014-02-13      1
          2014-02-18      1
          2014-02-21      1
          2014-03-21      1
          2014-04-26      1
          2014-05-20      1
          2014-05-26      1
          2014-06-10      2
          2014-07-14      1
          2014-08-31      1
          2014-10-04      1
          2014-10-25      1
Bahia     2014-02-06      1
          2014-02-10      1
          2014-04-14      1
          2014-04-15      1
          2014-04-21      1
          2014-04-27      1
          2014-05-14      2
          2014-05-20      1
...                     ...
São Paulo 2014-11-03      2
          2014-11-04      3
          2014-11-05      1
          2014-11-12      4
          2014-11-14      2
          2014-11-15      1
          2014-11-16      1
          2014-11-19      2
          2014-11-22      1
          2014-11-24      2
          2014-11-25      1
          2014-11-26      2
          2014-11-27      1
          2014-11-28      1
          2014-11-29      1
          2014-12-01      3
          2014-12-03      2
          2014-12-04      1
          2014-12-05      1
          2014-12-06      2
          2014-12-09      1
          2014-12-11      1
          2014-12-12      5
          2014-12-14      1
          2014-12-15      1
          2014-12-16      3
          2014-12-31      1
Tocantins 2014-03-13      2
          2014-05-20      1
          2014-06-23      1

[896 rows x 1 columns]

In [7]:
df_grouped2 = df_gsr_selected.groupby(['city']).agg({'event': np.sum})

In [8]:
df_grouped2

                     event
city
Acre                     1
Alagoas                  5
Amapá                    2
Amazonas                15
Bahia                   24
Brasília               115
Ceará                   19
Distrito Federal         2
Espírito Santo           2
Goiás                   31
Maranhão                18
Mato Grosso              7
Mato Grosso do Sul       3
Minas Gerais            46
Paraná                  41
Paraíba                 10
Pará                    25
Pernambuco              30
Piauí                   12
Rio Grande do Norte      7
Rio Grande do Sul       52
Rio de Janeiro         655
Rondônia                 2
Santa Catarina          10
Sergipe                  2
São Paulo              454
Tocantins                4

In [9]:
df_grouped2[df_grouped2.event> 30]

                   event
city
Brasília             115
Goiás                 31
Minas Gerais          46
Paraná                41
Rio Grande do Sul     52
Rio de Janeiro       655
São Paulo            454

In [10]:
selectd_df_grouped ＝ df_grouped2[df_grouped2.event> 30]

SyntaxError: invalid syntax (<ipython-input-10-e6281e71320e>, line 1)

In [11]:
selectd_df_grouped = df_grouped2[df_grouped2.event> 30]

In [12]:
selectd_df_grouped.index

Index([         u'Brasília',             u'Goiás',      u'Minas Gerais',
                  u'Paraná', u'Rio Grande do Sul',    u'Rio de Janeiro',
               u'São Paulo'],
      dtype='object', name=u'city')

In [13]:
list(selectd_df_grouped.index)

[u'Bras\xedlia',
 u'Goi\xe1s',
 u'Minas Gerais',
 u'Paran\xe1',
 u'Rio Grande do Sul',
 u'Rio de Janeiro',
 u'S\xe3o Paulo']

In [14]:
def create_y2(f, date_range):
    df_gsr = pd.DataFrame(columns=('date', 'event', 'city'))
    lines = open(f).readlines()
    for i in range(len(lines)):
        obj = js.loads(lines[i])
        if obj['location'][0] == 'Brazil':
            df_gsr.loc[i] = [pd.to_datetime(obj['eventDate'].split("T")[0], format='%Y-%m-%d') + timedelta(days=-1),
                             1,
                             obj['location'][1]]

    df_gsr_selected = df_gsr[(df_gsr.date >= min_date) & (df_gsr.date <= max_date)]
    df_gsr_selected = df_gsr_selected[df_gsr_selected['city'] != '-']
    df_grouped = df_gsr_selected.groupby(['city', 'date']).agg({'event': lambda x: 1})
    df_grouped2 = df_gsr_selected.groupby(['city']).agg({'event': np.sum})
    selected_cities = list(df_grouped2[df_grouped2.event> 30].index)
    df_gsr_selected = df_gsr_selected[df_gsr_selected['city'] in selected_cities]

    cities = pd.unique(df_gsr_selected.city.ravel())
    new_index = pd.MultiIndex.from_product([cities, date_range], names=['city', 'date'])

    df_final = df_grouped.reindex(new_index, fill_value=0)
    return df_final

In [15]:
file_gsr = "./gsrAll.json"
dates = pd.date_range(min_date, max_date)
y = create_y2(file_gsr, dates)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [16]:
df_grouped = df_gsr_selected.groupby(['city', 'date']).agg({'event': lambda x: 1})
df_grouped2 = df_gsr_selected.groupby(['city']).agg({'event': np.sum})

In [17]:
selected_cities = list(df_grouped2[df_grouped2.event > 30].index)

In [18]:
selected_cities

[u'Bras\xedlia',
 u'Goi\xe1s',
 u'Minas Gerais',
 u'Paran\xe1',
 u'Rio Grande do Sul',
 u'Rio de Janeiro',
 u'S\xe3o Paulo']

In [19]:
df_gsr_selected = df_gsr_selected[df_gsr_selected['city'] in selected_cities]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [20]:
df_gsr_selected

            date  event            city
14328 2014-01-01      1  Rio de Janeiro
14329 2014-01-02      1  Rio de Janeiro
14330 2014-01-02      1  Rio de Janeiro
14331 2014-01-01      1  Rio de Janeiro
14332 2014-01-02      1  Rio de Janeiro
14333 2014-01-03      1  Rio de Janeiro
14334 2014-01-03      1       São Paulo
14335 2014-01-04      1        Maranhão
14336 2014-01-04      1  Rio de Janeiro
14337 2014-01-04      1       São Paulo
14338 2014-01-05      1  Rio de Janeiro
14339 2014-01-05      1  Rio de Janeiro
14340 2014-01-05      1  Rio de Janeiro
14341 2014-01-05      1       São Paulo
14342 2014-01-06      1        Brasília
14343 2014-01-06      1        Brasília
14344 2014-01-06      1  Rio de Janeiro
14345 2014-01-06      1  Rio de Janeiro
14346 2014-01-06      1  Rio de Janeiro
14347 2014-01-06      1  Rio de Janeiro
14348 2014-01-06      1       São Paulo
14349 2014-01-07      1  Rio de Janeiro
14350 2014-01-07      1       São Paulo
14351 2014-01-08      1  Rio de Janeiro
14352 2014-01-08      1  Rio de Janeiro
14353 2014-01-08      1  Rio de Janeiro
14354 2014-01-09      1        Maranhão
14355 2014-01-09      1        Maranhão
14356 2014-01-09      1    Minas Gerais
14357 2014-01-09      1  Rio de Janeiro
...          ...    ...             ...
25615 2014-12-13      1  Rio de Janeiro
25616 2014-12-14      1        Brasília
25617 2014-12-14      1  Rio de Janeiro
25618 2014-12-14      1       São Paulo
25619 2014-12-15      1         Alagoas
25620 2014-12-15      1        Brasília
25621 2014-12-15      1  Rio de Janeiro
25622 2014-12-15      1  Rio de Janeiro
25623 2014-12-15      1  Rio de Janeiro
25624 2014-12-15      1  Rio de Janeiro
25625 2014-12-15      1       São Paulo
25627 2014-12-16      1           Bahia
25628 2014-12-16      1        Brasília
25629 2014-12-16      1  Rio de Janeiro
25630 2014-12-16      1  Rio de Janeiro
25631 2014-12-16      1  Rio de Janeiro
25632 2014-12-16      1       São Paulo
25633 2014-12-16      1       São Paulo
25634 2014-12-16      1       São Paulo
25635 2014-12-17      1  Rio de Janeiro
25636 2014-12-18      1  Rio de Janeiro
25637 2014-12-21      1        Brasília
25638 2014-12-21      1        Brasília
25639 2014-12-21      1        Brasília
25640 2014-12-21      1        Brasília
25641 2014-12-25      1  Rio de Janeiro
25642 2014-12-28      1          Paraná
26414 2014-12-31      1        Brasília
26415 2014-12-31      1  Rio de Janeiro
26416 2014-12-31      1       São Paulo

[1594 rows x 3 columns]

In [23]:
df_gsr_selected['city']

14328    Rio de Janeiro
14329    Rio de Janeiro
14330    Rio de Janeiro
14331    Rio de Janeiro
14332    Rio de Janeiro
14333    Rio de Janeiro
14334         São Paulo
14335          Maranhão
14336    Rio de Janeiro
14337         São Paulo
14338    Rio de Janeiro
14339    Rio de Janeiro
14340    Rio de Janeiro
14341         São Paulo
14342          Brasília
14343          Brasília
14344    Rio de Janeiro
14345    Rio de Janeiro
14346    Rio de Janeiro
14347    Rio de Janeiro
14348         São Paulo
14349    Rio de Janeiro
14350         São Paulo
14351    Rio de Janeiro
14352    Rio de Janeiro
14353    Rio de Janeiro
14354          Maranhão
14355          Maranhão
14356      Minas Gerais
14357    Rio de Janeiro
              ...
25615    Rio de Janeiro
25616          Brasília
25617    Rio de Janeiro
25618         São Paulo
25619           Alagoas
25620          Brasília
25621    Rio de Janeiro
25622    Rio de Janeiro
25623    Rio de Janeiro
25624    Rio de Janeiro
25625         São Paulo
25627             Bahia
25628          Brasília
25629    Rio de Janeiro
25630    Rio de Janeiro
25631    Rio de Janeiro
25632         São Paulo
25633         São Paulo
25634         São Paulo
25635    Rio de Janeiro
25636    Rio de Janeiro
25637          Brasília
25638          Brasília
25639          Brasília
25640          Brasília
25641    Rio de Janeiro
25642            Paraná
26414          Brasília
26415    Rio de Janeiro
26416         São Paulo
Name: city, dtype: object

In [24]:
[df_gsr_selected['city'] in selected_cities]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [25]:
[df_gsr_selected['city'] != '-']

[14328    True
 14329    True
 14330    True
 14331    True
 14332    True
 14333    True
 14334    True
 14335    True
 14336    True
 14337    True
 14338    True
 14339    True
 14340    True
 14341    True
 14342    True
 14343    True
 14344    True
 14345    True
 14346    True
 14347    True
 14348    True
 14349    True
 14350    True
 14351    True
 14352    True
 14353    True
 14354    True
 14355    True
 14356    True
 14357    True
          ...
 25615    True
 25616    True
 25617    True
 25618    True
 25619    True
 25620    True
 25621    True
 25622    True
 25623    True
 25624    True
 25625    True
 25627    True
 25628    True
 25629    True
 25630    True
 25631    True
 25632    True
 25633    True
 25634    True
 25635    True
 25636    True
 25637    True
 25638    True
 25639    True
 25640    True
 25641    True
 25642    True
 26414    True
 26415    True
 26416    True
 Name: city, dtype: bool]

In [26]:
[df_gsr_selected['city'] not in selected_cities]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [27]:
df_gsr_selected

            date  event            city
14328 2014-01-01      1  Rio de Janeiro
14329 2014-01-02      1  Rio de Janeiro
14330 2014-01-02      1  Rio de Janeiro
14331 2014-01-01      1  Rio de Janeiro
14332 2014-01-02      1  Rio de Janeiro
14333 2014-01-03      1  Rio de Janeiro
14334 2014-01-03      1       São Paulo
14335 2014-01-04      1        Maranhão
14336 2014-01-04      1  Rio de Janeiro
14337 2014-01-04      1       São Paulo
14338 2014-01-05      1  Rio de Janeiro
14339 2014-01-05      1  Rio de Janeiro
14340 2014-01-05      1  Rio de Janeiro
14341 2014-01-05      1       São Paulo
14342 2014-01-06      1        Brasília
14343 2014-01-06      1        Brasília
14344 2014-01-06      1  Rio de Janeiro
14345 2014-01-06      1  Rio de Janeiro
14346 2014-01-06      1  Rio de Janeiro
14347 2014-01-06      1  Rio de Janeiro
14348 2014-01-06      1       São Paulo
14349 2014-01-07      1  Rio de Janeiro
14350 2014-01-07      1       São Paulo
14351 2014-01-08      1  Rio de Janeiro
14352 2014-01-08      1  Rio de Janeiro
14353 2014-01-08      1  Rio de Janeiro
14354 2014-01-09      1        Maranhão
14355 2014-01-09      1        Maranhão
14356 2014-01-09      1    Minas Gerais
14357 2014-01-09      1  Rio de Janeiro
...          ...    ...             ...
25615 2014-12-13      1  Rio de Janeiro
25616 2014-12-14      1        Brasília
25617 2014-12-14      1  Rio de Janeiro
25618 2014-12-14      1       São Paulo
25619 2014-12-15      1         Alagoas
25620 2014-12-15      1        Brasília
25621 2014-12-15      1  Rio de Janeiro
25622 2014-12-15      1  Rio de Janeiro
25623 2014-12-15      1  Rio de Janeiro
25624 2014-12-15      1  Rio de Janeiro
25625 2014-12-15      1       São Paulo
25627 2014-12-16      1           Bahia
25628 2014-12-16      1        Brasília
25629 2014-12-16      1  Rio de Janeiro
25630 2014-12-16      1  Rio de Janeiro
25631 2014-12-16      1  Rio de Janeiro
25632 2014-12-16      1       São Paulo
25633 2014-12-16      1       São Paulo
25634 2014-12-16      1       São Paulo
25635 2014-12-17      1  Rio de Janeiro
25636 2014-12-18      1  Rio de Janeiro
25637 2014-12-21      1        Brasília
25638 2014-12-21      1        Brasília
25639 2014-12-21      1        Brasília
25640 2014-12-21      1        Brasília
25641 2014-12-25      1  Rio de Janeiro
25642 2014-12-28      1          Paraná
26414 2014-12-31      1        Brasília
26415 2014-12-31      1  Rio de Janeiro
26416 2014-12-31      1       São Paulo

[1594 rows x 3 columns]

In [ ]:
df_gsr_selected = df_gsr_selected[df_gsr_selected['city'] in selected_cities]